body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-image: url('../img/B1112.jpg'); */
    background-color: #e9e1e1;
    
}

/* pie de pagina */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071125;
    color: #fff;
    padding: 10px 50px;
}
.img1{
    width: 10%;
    height: 10%;
}
.img-text {
    display: flex;
    align-items: center;
}



.buttons {
    text-align: right;
    margin-left: 40%;

    
}

.buttons button {
    padding: 10px 20px;
    background-color: #3733FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}

.iconos{
    margin-right: 50px;
}

/* inmueble */

.search-input{
    padding: 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 400px; /* Ancho del cuadro de búsqueda */
            display: flex;
            align-items: center;
}

.i-text{
    display: flex;
    justify-content: center;
}
.inmueble{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Preguntas De Filtro  */

.container {
    
    width: 20%;
    padding: 30px;
    margin-left: 3%;
     margin-right: 20px; /* separacion ente filtro y casa */
    background-color: rgba(255, 255, 255, 0.5); 
}


/* Estilos para el contenedor de datos */
.data-container {
    width: 90%; /* Ancho del contenedor de datos */
    background-color: #fff;
    padding: 20px;
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    
}

.data-field{
    display: flex;
    flex-direction: column;
    padding: 10px 3px;
}


/* tamaño container  */

.tamaño{
    border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 238px; /* Ancho del cuadro de búsqueda */
            display: flex;
            align-items: center;
            padding: 10px;
}

.puto, .putos{
    display: flex;
    
    

}

.puto, .putitos, .putitoss{
    display: flex;
    flex-direction: column;
    
}


/* casas */
.contenedor {
    text-align: center;
    width: 80%;
    height: 35%;
    border-radius: 10%;
    margin: 10px; /* Agrega margen entre contenedores */
    background-color: rgba(255, 255, 255, 0.5);
}

/* Estilo de la imagen */
.imagen {
    width: 270px;
    height: 150px;
    border-radius: 15% 15% 0% 0%;
}

/* Estilo del texto debajo de la imagen */
.texto {
    font-size: 16px;
    color: #333;
}



/* botones administrador  editar  */

.boton button {
    padding: 10px 20px;
    background-color: #3432ad;
    color: #fff;
    border: none;
    border-radius: 5px;
}

