:root{
    --azul: #071125;
    --azul1: #02286efe;
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inria', sans-serif;
}

body{
    background-image: linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.7), rgba(255,255,255, 0.7)),
     url("../img/prueba+.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
   
}



/* header */
header{
    background: var(--azul);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}


.head .title-logo {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head .title-logo h1{
    font-size: 1.1em;
    color: var(--blanco);
    text-align: center;
}

.head .hamburguesa{
    display: none;
}


.nav-bar{
    width: 25%;
    display: flex;
    justify-content: center;
    
}   

.nav-bar ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar ul li a{
    color: var(--blanco);
    background:var(--azul1);
    padding: 5px 1em;
    border-radius: 5px;
}
.nav-bar  i{
    color: var(--azul);
    font-size: 1em;
    padding: 5px;
    background: var(--fondo);
    border-radius: 2em;
}
.nav-bar ul  .op{
    display: none;
}


/* imagen de la casa con su descripcion  */

.holii{
    display: flex;
    justify-content: center;
}

.button button {
    padding: 10px 20px;
    background-color: #3733FF;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.button{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px;
}
.contenedor{
    border: 2px solid rgb(172, 169, 169);
    background-color: rgba(255, 255, 255, 0.293);
    display: flex;
    margin: 20px;   
    border-radius: 25px;
    width: 60%;
    height: 10%;
    
}

.contenedor img{
    width: 400px;
    height: 200px;
    border-radius: 25px;
}
.text{
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 12px;
    
}
.descrip{
    font-size: 13px;
    margin-top: 15px;

}
.ubi{
    font-size: 15px;
    font-weight: bold;


    
}
.estrato{
    
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;

}
/* imagenes dentro de la casa  */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contenido{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
}
.image{
    border-radius: 10px;
    width: 350px;
    height: 200px;

}
img{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* calendario-maps */

.calendario-mapa{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    
}
.calendario{
    height: 90%;
    width: 90%;

}
.calendario-maps{
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    border-radius: 2%;
    
}

.maps{
    display: flex;
    align-items: center;
    border-radius: 20px;
}



/* pie de pagina */

.pie-pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071125;
    color: #fff;
}

.redes-sociales{
    margin: 1%;
   padding: 15px;
   
}

.iconos{
    display: flex;
    justify-content: flex-start;
   
}

.iconos p{
    padding: 6px;
    display: flex;
    justify-content: flex-start;
    margin-top: -10px;
}

.redes-sociales h2{
    font-size: 18px;
}

.mapa, .map{
    width: 80%;
    height: 5%;
    margin: 1%;

}

.mapa{
    display: flex;
    margin-left: 20px;
    justify-content: center;

}

.mapa h2{
    font-size: 18px;
}

.numeros{
    margin: 1%;
    
}

.numeros h2{
    font-size: 18px;
}
.descripcion{
    margin: 1%;

    font-size: 14px;
}


.descripcion h2{
    font-size: 20px;
}

.iconos{
    display: flex;
}


@media screen and (max-width: 768px) {

    .header , .img-text .buttons{
        max-width: 100%;
        max-height: 100%;
    }
    .buttons{
        display: flex;
        flex-wrap: nowrap;
    }

    /* descripcion del inmueble  */

    .contenedor {
        flex-direction: column; 
        width: 100%;
        align-items: center;
    }
     img {
        max-width: 100%;
        max-height: 100%;
    }

    .text {
        width: 100%;
    } 

/* imagenes carrucel  */

    .container {
        flex-direction: column; 
        align-items: center;
        
    }
    .contenido{
        padding: 1%;
    }

   
    .calendario-mapa{
        flex-direction: column;
    }
     
}