body {
    font-family: Arial, sans-serif;
    text-align: center;
    
}


/* pie de pagina */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071125;
    color: #fff;
    padding: 10px 50px;
}
.img1{
    width: 10%;
    height: 10%;
}
.img-text {
    display: flex;
    align-items: center;
}



.buttons {
    text-align: right;
    margin-left: 40%;

    
}

.buttons button {
    padding: 10px 20px;
    background-color: #3733FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
}

.iconos{
    margin-right: 50px;
}

h1 {
    text-align: center;
    background-color: aquamarine;
}   

.container{
    margin-left: 30%;
    width: 40%;
    height: 40%;
    background-color: black;
    padding: 1%;
}

.formulario {
    width: 400px;
    margin: 0 auto;
    text-align: left;
    background-color: #559deb;
}

.formulario label,
.formulario input {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: #071125;
    
}

.formulario input{
    display: flex;
    justify-content: center;
}

input{
    padding: 5px 20px;
    border-radius: 5%;
    justify-content: center;
    margin-left: 100px;
    
}


.formulario input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    
    
}