:root{
    --azul: #071125;
    --azul1: #02286efe;
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inria', sans-serif;
}

body{
    background-image: linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.7), rgba(255,255,255, 0.10)), 
    url("../img/casa11.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    background: var(--azul);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}


.head .title-logo {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head .title-logo h1{
    font-size: 1.1em;
    color: var(--blanco);
    text-align: center;
}

.head .hamburguesa{
    display: none;
}


.nav-bar{
    width: 25%;
    display: flex;
    justify-content: center;
    
}   

.nav-bar ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar ul li a{
    color: var(--blanco);
    background:var(--azul1);
    padding: 5px 1em;
    border-radius: 5px;
}
.nav-bar  i{
    color: var(--azul);
    font-size: 1em;
    padding: 5px;
    background: var(--fondo);
    border-radius: 2em;
}
.nav-bar ul  .op{
    display: none;
}


/* -----------------------------------------------ventana modal-----------------------------  */


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

.cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.data-containerr{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.data-field{
    padding: 1%;
    width: 50%;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#mostrarModal{
    background-color: var(--azul1);
    width: 100px;
    height: 40px;
    color: var(--blanco);
    border-radius: 15px;
    margin: 5px;
}



/* inmueble */

.busqueda{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    margin: 20px;
    
}

.busqueda h1{
    font-size: 20px;
    display: flex;
    text-align: start;
    padding: 20px;
}

#logo1{
    font-size: 30px;
    padding: 10px;
}

.search-input{
    padding: 10px;
            border: 1px solid #1a1111;
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 400px; /* Ancho del cuadro de búsqueda */
            height: 20px;
            display: flex;
            align-items: center;
           
}

.i-text{
    display: flex;
    justify-content: center;
}
.inmueble{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Preguntas De Filtro  */

.container {
   
    width: 20%;
    padding: 30px;
    margin-left: 3%;
     margin-right: 20px; /* separacion ente filtro y casa */
    background-color: rgba(255, 255, 255, 0.5);
}


/* Estilos para el contenedor de datos */
.data-container {
    width: 90%; /* Ancho del contenedor de datos */
    background-color: #fff;
    padding: 20px;
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
   
}

.data-field{
    display: flex;
    flex-direction: column;
    padding: 10px 3px;
}


/* tamaño container  */

.tamaño{
    border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 238px; /* Ancho del cuadro de búsqueda */
            display: flex;
            align-items: center;
            padding: 10px;
}

/* contenedores del inmueble  */

.putos{
    display: flex;
   
}

.cuadro1  .cuadro2{
    display: flex;
   
   

}

.cuadro1 {
    display: flex;
    flex-direction: column;
   
}
.cuadro2{
    display: flex;
    flex-direction: column;
}
.cuadro3{
    display: flex;
    flex-direction: column;
}

/* casas */
.contenedor {
    width: 80%;
    height: 75%;
    margin: 5%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.952);
}

.contenedor img{
    width: 100%;
}

/* Estilo de la imagen */
.imagen {
    width: 270px;
    height: 150px;
    border-radius: 15% 15% 0% 0%;
}

/* Estilo del texto debajo de la imagen */
.texto1{
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    
}

.texto{
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
}

.ubi{
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
}



@media screen and (max-width: 768px){
    /* pie de pagina  */


    .container{
        display: none;
    }
    /* contendores del inmueble  */

    .cuadro1{
        display: flex;
        justify-content: center;
    }
    .putos{
        display: flex;
        flex-direction: column;
    }
    /* contendor y imagen del inmueble  */
   
}