:root{
    --azul: #071125;
    --azul1: #02286efe;
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Inria', sans-serif;
}

body{
    background-image: linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.7), rgba(255,255,255, 0.10)), 
    url("../img/casa11.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

header{
    background: var(--azul);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}


.head .title-logo {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.head .title-logo h1{
    font-size: 1.1em;
    color: var(--blanco);
    text-align: center;
}

.head .hamburguesa{
    display: none;
}


.nav-bar{
    width: 25%;
    display: flex;
    justify-content: center;
    
}   

.nav-bar ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar ul li a{
    color: var(--blanco);
    background:var(--azul1);
    padding: 5px 1em;
    border-radius: 5px;
}
.nav-bar  i{
    color: var(--azul);
    font-size: 1em;
    padding: 5px;
    background: var(--fondo);
    border-radius: 2em;
}
.nav-bar ul  .op{
    display: none;
}


/* -----------------------------------------------ventana modal-----------------------------  */


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
}

.cerrar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.data-containerr{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.data-field{
    padding: 1%;
    width: 50%;
}

.cerrar-modal:hover,
.cerrar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#mostrarModal{
    background-color: var(--azul1);
    width: 100px;
    height: 40px;
    color: var(--blanco);
    border-radius: 15px;
    margin: 5px;
}



/* inmueble */

.busqueda{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 80px;
    margin: 20px;
    
}

.busqueda h1{
    font-size: 20px;
    display: flex;
    text-align: start;
    padding: 20px;
}

#logo1{
    font-size: 30px;
    padding: 10px;
}

.search-input{
    padding: 10px;
            border: 1px solid #1a1111;
            border-radius: 20px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 400px; /* Ancho del cuadro de búsqueda */
            height: 20px;
            display: flex;
            align-items: center;
           
}

.i-text{
    display: flex;
    justify-content: center;
}
.inmueble{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Preguntas De Filtro  */

.container {
   
    width: 20%;
    padding: 30px;
    margin-left: 3%;
     margin-right: 20px; /* separacion ente filtro y casa */
    background-color: rgba(255, 255, 255, 0.5);
}


/* Estilos para el contenedor de datos */
.data-container {
    width: 90%; /* Ancho del contenedor de datos */
    background-color: #fff;
    padding: 20px;
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   
   
}

.data-field{
    display: flex;
    flex-direction: column;
    padding: 10px 3px;
}


/* tamaño container  */

.tamaño{
    border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 238px; /* Ancho del cuadro de búsqueda */
            display: flex;
            align-items: center;
            padding: 10px;
}

/* contenedores del inmueble  */

.putos{
    display: flex;
   
}

.cuadro1  .cuadro2{
    display: flex;
   
   

}

.cuadro1 {
    display: flex;
    flex-direction: column;
   
}
.cuadro2{
    display: flex;
    flex-direction: column;
}
.cuadro3{
    display: flex;
    flex-direction: column;
}

/* casas */
.contenedor {
    width: 80%;
    height: 75%;
    margin: 5%;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.952);
}

.contenedor img{
    width: 100%;
}

/* Estilo de la imagen */
.imagen {
    width: 270px;
    height: 150px;
    border-radius: 15% 15% 0% 0%;
}

/* Estilo del texto debajo de la imagen */
.texto1{
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    
}

.texto{
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
}

.ubi{
    font-size: 13px;
    font-weight: bold;
    padding: 6px;
}

.mostrarModal{
    display: none;
}

/* pie de pagina */

.pie-pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071125;
    color: #fff;
}

.redes-sociales{
    margin: 1%;
   padding: 15px;
   
}

.iconos{
    display: flex;
    justify-content: flex-start;
   
}

.iconos p{
    padding: 6px;
    display: flex;
    justify-content: flex-start;
    margin-top: -10px;
}

.redes-sociales h2{
    font-size: 18px;
}

.mapa, .map{
    width: 80%;
    height: 5%;
    margin: 1%;

}

.mapa{
    display: flex;
    margin-left: 20px;
    justify-content: center;

}

.mapa h2{
    font-size: 18px;
}

.numeros{
    margin: 1%;
    
}

.numeros h2{
    font-size: 18px;
}
.descripcion{
    margin: 1%;

    font-size: 14px;
}


.descripcion h2{
    font-size: 20px;
}

.iconos{
    display: flex;
}







@media only screen and ( max-width: 1024px){
    .head .title-logo {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    } 

    .nav-bar{
        width: 35%;
    }   

    /* Modificar imagen de servicios */
    .imgser img{
        width: 200px;
    }

    .servicios1{
        display: flex;
        text-align: justify;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    
    .info{
        text-align: justify;
        padding: 20px;
        margin-top: -40px;
    }

    /* pie de pagina */
    .mapa, .map{
        width: 80%;
        height: 5%;
        margin: 1%;
        padding: 20px;
    
    }
    
    .mapa{
        display: flex;
        margin-left: 15px;
        justify-content: center;
    
    }
    
    .mapa h2{
        font-size: 18px;
    }

    .data-container {
        width: 90%; /* Ancho del contenedor de datos */
        padding: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
       
    }

    .data-label{
        font-size: 14px;
    }

    .tamaño{
        width: 120px;
        height: 10px;
    }

    .textt{
        font-size: 15px;
        text-align: start;
    }

    .container {
        width: 20%;
        padding: 30px;
        margin-left: 3%;
        margin-right: 20px; 
        margin-top: -105px;/* separacion ente filtro y casa */
        background-color: rgba(255, 255, 255, 0.5);
    }

    .mostrarModal{
        display: none;
    }

    .busqueda{
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        margin: 20px;
        
    }


} 


/* responsive de Tableta */

@media only screen and ( max-width: 768px){
    .head .hamburguesa{
        display: block;
        cursor: pointer;
        font-size: 2em ;
        color: var(--fondo);
        align-items: center;
    }

    .head .title-logo  {
        width: 32%;
        justify-content: space-between;
    }

    .nav-bar{
        height: 0;
        position: absolute;
        top: 3.5em;
        left: 0;
        right: 0;
        width: 100%;
        background: var(--azul);
        transition: 0.5s;
        overflow: hidden;
    }
    
    .nav-bar.active{
        height: 20em;
        
    }
    
    .nav-bar ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: 0.5s;
        opacity: 0;
        
    }

    .nav-bar ul li  {
        padding:5%;
    }
    
    .nav-bar ul .op{
        display: block;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .nav-bar.active ul{
        width: 90%;
        opacity: 1;
    }

    .ventana{
        background-color: rgba(5, 5, 37, 0.6);
        position: absolute;
        width: 450px;
        height: 180px;
        display: flex;
        align-items: center;
        top: 10%;
        border-radius: 25px;
        flex-direction: column;
        margin: 40px;
    
    }

    .ventana.active{
        display: none;
    }

    
    /* pie de pagina */
    .mapa, .map{
        width: 120%;
        height: 5%;
        padding: 20px;
    
    
    }

    .mapa{
        display: flex;
        flex-direction: column;
    }

 
    .mostrarModal{
        display: block;
    } 
    
    .container{
        display: none;
    }

    #mostrarModal{
        background-color: var(--azul1);
        width: 100px;
        height: 40px;
        color: var(--blanco);
        border-radius: 15px;
        margin: 10px;
    }

    .data-label{
        font-size: 17px;
    }

    .tamaño{
        width: auto;
        height: 10px;
    }



 
}


@media only screen and ( max-width: 430px){
    .head .title-logo  {
        width: 80%;
        justify-content: space-around;
    }

    .ventana{
        background-color: rgba(5, 5, 37, 0.6);
        position: absolute;
        width: 250px;
        height: 100px;
        display: flex;
        align-items: center;
        top: 5%;
        border-radius: 25px;
        flex-direction: column;
        margin: 40px;
    
    }

    
.ventana h1{
    color: #fff;
    align-items: center;
    margin: 5%;
    font-size: 15px;
    margin-top: 20px;
}

.ventana i{
    color: #fff;
    font-size: 10px;
}

.ventana button{
    background-color: #001F6D;
    color: #001F6D;
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    height: 39px;
    width: 150px;
  

    

}

.ventana a{
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    display: flex;
    text-align: center;
    

}

#logo1{
    color: var(--blanco);
    display: flex;
    justify-content: left;
    font-size: 30px;
    margin-left: -35px;
    position: relative;
    top: -3px;
   
    
}


/* pie de pagina */


.pie-pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071125;
    flex-direction: column;
    color: #fff;
}

.redes-sociales{
    margin: 1%;
   padding: 15px;
   
}

.iconos{
    display: flex;
    justify-content: flex-start;
   
}

.iconos p{
    padding: 6px;
    display: flex;
    justify-content: flex-start;
    margin-top: -10px;
}

.redes-sociales h2{
    font-size: 18px;
}

.mapa, .map{
    width: 80%;
    height: 5%;
    margin: 1%;

}

.mapa{
    display: flex;
    margin-left: 20px;
    justify-content: center;

}

.mapa h2{
    font-size: 18px;
}

.numeros{
    margin: 1%;
    
}

.numeros h2{
    font-size: 18px;
}
.descripcion{
    margin: 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    padding: 20px;
}


.descripcion h2{
    font-size: 20px;
    
}

.iconos{
    display: flex;
}

.search-input{
    width: 300px; /* Ancho del cuadro de búsqueda */
    height: 20px;
}

.busqueda h1{
    text-align: center;
}

.busqueda{
    margin-top: -20px;
}

.search-input{
    
    width: 230px;
}

.putos{
    display: flex;
    flex-direction: column;
   margin-right: -50px;
}

body{
    background: rgb(251,251,251);
background: linear-gradient(90deg, rgba(251,251,251,0.7147233893557423) 0%, rgba(73,125,245,0.14329481792717091) 0%, rgba(38,113,215,0.08727240896358546) 100%);
}

.modal-contenido{
    width: 250px;
    justify-content: center;
    margin: -25px;
    
}

    

}

