<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DescripcionInmueble</title>
    <link rel="stylesheet" href="../assets/css/DescripcionInmueble.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="header">
        <div class="img-text">
            <img src="../assets/img/logo.jpg" alt="" class="img1">
            <span>Arquideco Inmobiliaria</span>
        </div>
        <div class="buttons">
            <button>Registrar</button>
            <button>Rniciar Sesion </button>
        </div>
        <div class="iconos">
            <i class="fa-solid fa-user"></i>
        </div>
        
    </div>


    
        <div class="contenedor">
            <img src="../assets/img/casa1.jpg" alt="Descripción de la imagen" class="imagen">
            <div class="text">
            <p class="texto">$200.000</p>
            <p class="texto">Estrato 4, cuenta con 3 Hanitaciones, 2 Baños, Terraza, Cocina, Sala, Comedor, 1 Aparta  Estudio
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint architecto, saepe laudantium maxime consequuntur distinctio explicabo debitis similique unde officiis accusamus, quo sequi sed omnis dolorum mollitia molestias soluta obcaecati!
            </p>
            <p class="texto">ubicados en la esquina de don pepe </p>
            </div>
        </div>
        
        <div class="container">
        <div class="contenido">
            <img src="../assets/img/casa1.jpg" alt="Descripción de la imagen" class="image">
            <p>______________________________</p>
            
        </div>

        <div class="contenido">
            <img src="../assets/img/casa1.jpg" alt="Descripción de la imagen" class="image">
            <p>______________________________</p>
            
        </div>

        <div class="contenido">
            <img src="../assets/img/casa1.jpg" alt="Descripción de la imagen" class="image">
            <p>______________________________</p>
            
        </div>

</div>
    <div class="calendario-maps">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=UTC&src=cGlseWNhcm9saW5hYmFyYm9zYWxlbXVzQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23009688&color=%2333B679&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no" class="calendario"></iframe>
    
        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63628.77512334901!2d-74.1931817464405!3d4.630017711224005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9c20c1186379%3A0x72c48cbe21e275ac!2sKennedy%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1693705236078!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="maps"></iframe>
        </div>
    </div>
</body>
</html>