<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción Inmueble</title>
    <link rel="icon" href="img/descarga.png">
   <!--  <link rel="stylesheet" href="./estilos1.css"> -->
    <link rel="stylesheet" href="{{url_for("static", filename="../../static/css/DescripcionInmueble.css")}}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="head">

            <div class="title-logo">
                <img src="../static/img/descarga.png" alt="">
                <h1>Arquideco inmobiliaria</h1>
            </div>
            
            <nav class="nav-bar" id="nav-bar">
                <ul>
                    <li><a href="/regi">Registrarse</a></li>
                    <li><a href="/ini">Iniciar Sesion</a></i></li>
                    <li class="op"><a href="/cat">Conoce Nuestro Servicio</a></li>
                    <li class="op"><a href="">Conoce Mas Sobre Flipping</a></li>
                    <li class="op"><a href="">Terminos y condiciones</a></li>

                    <i class="fa-regular fa-user"></i>
                </ul>
            </nav>

            <div class="hamburguesa" id="hamburguesa">
                <i class="fa-solid fa-bars"></i>
            </div>

        </div>
    </header>


<div class="holii">
    <div class="button">
        <button>Regresar</button>
    </div>
    
        <div class="contenedor">
            <img src="./static/img/casa22.jpg" alt="Descripción de la imagen" class="imagen">
            <div class="text">
            <h2 class="ubi">Ubicación: Bogotá D.C Suba</h2>
            <p class="estrato">Estrato 3</p>
            <p class="descrip">
                La propiedad se encuentra en exelente estado, donde podemos encontrar 3 habitaciones de 12.7 metros cuadrados cada una, 2 baños con tina, una cocina integral con una estetica vintage y amplia para toda la familia. 
                <br><br>
                El sector donde se encuentra ubicada la propiedad es residencial, con cinco zonas comunes incluyendo zonas verdes y parques.
                
                
            </p>
            </div>
        </div>
    </div>

        
    <div class="container">
        <div class="contenido">
            <img src="../static/img/casapordentro1.jpg" alt="Descripción de la imagen" class="image">
            
            
        </div>

        <div class="contenido">
            <img src="../static/img/casapordentro11.jpg" alt="Descripción de la imagen" class="image">
            
            
        </div>

        <div class="contenido">
            <img src="../static/img/casapordentro111.jpg" alt="Descripción de la imagen" class="image">
            
            
        </div>
    </div>

<div class="calendario-mapa">
    <div class="calendario-maps">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=UTC&src=cGlseWNhcm9saW5hYmFyYm9zYWxlbXVzQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZXMuY28jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23009688&color=%2333B679&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no" class="calendario"></iframe>
    </div>
        <div class="mapss">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63628.77512334901!2d-74.1931817464405!3d4.630017711224005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9c20c1186379%3A0x72c48cbe21e275ac!2sKennedy%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1693705236078!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="maps"></iframe>
        </div>
    
</div>
<!-- -----------------------------------------------------------------------PIE DE  PAGINA--------------------------------------------------------------------------  -->

</body>
<footer>
    <div class="pie-pagina">
        <div class="redes-sociales">
            <h2>Siguenos En Nuestras Redes Sociales</h2>
            <div class="iconos">
            <i class="fab fa-instagram"></i>
            <p>arquidecoInmobiliaria </p>
            </div>
            <div class="iconos">
            <i class="fab fa-facebook"></i>
            <p>arquidecoInmobiliaria</p>
            </div>
            <div class="iconos">
            <i class="fab fa-twitter"></i>
            <p>arquidecoInmobiliaria</p>
        </div>
        </div>
        <div class="descripcion">
            <h2>Descripcion</h2>
            <p> somos una inmobiliaria enfocada en la venta de inmuebles de mejor calidad para nuestros clientes, nuestros clientes siempre tendra la razon a la hora de escoger el inmueble de sus sueños </p>
            <p>ven y confian en nosotros inmuebles de la mejor calidad a precios excelente </p>
        </div>
        <div class="numeros">
            <h2>Contactanos:</h2>
            <p>3112528749</p>
            <p>3652114877</p>
            <p>1245447893</p>
        </div>
        <div class="mapa">
            <h2>Estamos Ubicados En:</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63628.77512334901!2d-74.1931817464405!3d4.630017711224005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9c20c1186379%3A0x72c48cbe21e275ac!2sKennedy%2C%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1693705236078!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
            
        </div>
    </div>
    
</footer>
<script src="../static/js/script.js"></script>
</html>