<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmobiliaria Arquideco</title>
    <!-- Enlace de Hoja de estilos -->
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!-- Realizaremos el menu de navegación con la etiqueta NAV -->
    <nav id="nav">
        <!-- Caja Menu Hamburguesa, logo etiqueta <i> -->
        <div class="menu">
            <button id="boton"><i class="fa-solid fa-bars"></i></button>
                 <!-- Contenido menu hamburguesa -->
        <div class="contenido" id="menu">
           <button><a href="../views/registrar.html">REGISTRATE</a></button>
            <button><a href="../views/login.html">INICIO SESIÓN</a></button>

           <button> <a href="">NUESTROS SERVICIOS</a></button>

        <button><a href="">FLIPPING</a></button>
        
        <button> <a href="">TERMINOS Y CONDICIONES</a></button>

            <p>INMOBILIARIA ARQUIDECO</p>
        </div>

        <div class="resp">
            <span>Arquideco Inmobiliaria</span>
        <div class="buttons">
            <button>Registrar</button>
            <button>Rniciar Sesion </button>
        </div>
        <div class="iconos">
            <i class="fa-solid fa-user"></i>
        </div>
        </div>

        </div>
   
        <!-- Botones menu navegación -->
        <div class="botones" id="bot">
            <button>CATALOGO</button>
            <button><a href="../views/registrar.html">LOG IN</a></button>
            <button><a href="../views/login.html">SING IN</a></button>
        </div>
        <!-- Imagen Logo -->
        <div class="logo" id="logo">
            <img src="../assets/img/descarga.png" alt="">
        </div>
    </nav>

    <!-- Carrusel Imagenes -->
    <div class="carrusel">

    <div class="img1">
      <img src="../assets/img/images 1.png" style="width:100%">
      <div class="text"></div>
    </div>
    
    <div class="img1">
      <img src="../assets/img/casa11.jpg" style="width:100%">
      <div class="text"></div>
    </div>
    
    <div class="img1">
      <img src="../assets/img/casa22.jpg" style="width:100%">
      <div class="text"></div>
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
    
    </div>


    <!-- Servicios -->
    <div class="titulo">
        <p>Nuestros Servicios</p>
       </div>

       <!-- Caja de servicios numero1 (Flipping) -->
       <div class="papa">
    <div class="servi">
        <div class="servi1">
           <h1>Flipping</h1>
           <p>
            El Flipping House, también conocido como Flipping Inmobiliario, modernizarla y por consiguiente venderla a un precio más alto para conseguir una ganancia.
            </p>
        </div>
        <div class="imgdiv1">
            <img src="../assets/img/casa66.png" alt="">
        </div>
    </div>
</div>

<!-- Caja de servicios numero2 (Compra y/o venta) -->

    <div class="servidos">
        <div class="servi2">
           <h1>Compra y/o venta</h1>
           <p>
            Adquiere el inmueble de tus sueños a precios de ensueño, en nuestro portal virtual puedes buscar un inmueble que se ajuste a tus preferencias, en la zona que desees y que se ajuste a tu presupuesto.
            </p>
        </div>
        <div class="imgdiv2">
            <img src="../assets/img/casa55.png" alt="">
        </div>
    </div>

   <!-- Caja de servicios numero3 (Arriendo) -->
   <div class="servi">
    <div class="servi1">
       <h1>Arriendo</h1>
       <p>
        Encuentra en nuestro portal virtual un inmueble que se ajuste a tu presupuesto, encuentra las mejores ofertas y vive en tu lugar soñado gracias a tu inmobiliaria de confianza Arquideco.
        
        </p>
    </div>
    <div class="imgdiv1">
        <img src="../assets/img/casa66.png" alt="">
    </div>
</div>
      
</body>
<script src="../assets/js/script.js"></script>
</html>