<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmueble</title>
    <link rel="stylesheet" href="{{url_for("static", filename="css/Inmueble.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!-- pie de pagina  -->
    <div class="header">
        <div class="img-text">
            <a href="/"><img src="../static/img/logo.jpg" alt="" class="img1"></a>
            <span>Arquideco Inmobiliaria</span>
        </div>
        <div class="buttons">
            <button>Registrar</button>
            <button>Iniciar Sesion </button>
        </div>
        <div class="iconos">
            <i class="fa-solid fa-user"></i>
        </div>
        
    </div>
<!-- inmueble -->
    <div class="inmueble">
         <div class="busqueda">
            <h1>Busca Tu Inmueble Por Palabras Clave</h1>
            <div class="i-text">
                <i class="fa-regular fa-envelope"></i>
                <input type="text" class="search-input" placeholder="Buscar...">
            </div>
            
         </div>
    </div>
    <!-- Preguntas De Filtro  -->
    <div class="putos">
    <div class="container">
        <div class="textt">
            <h2>Eligue Las Caracteristicas De Tu Inmueble De Ensueño</h2>
        </div>
        <p>_________________________________</p>
        <div class="data-container">
            <div class="data-field">
                <span class="data-label">Precio Maximo:</span>
                <input type="number" class="tamaño" placeholder="Precio Maximo...">
            </div>
            <div class="data-field">
                <span class="data-label">Localidad:</span>
                <input type="text" class="tamaño" placeholder="Localidad...">
            </div>
            <div class="data-field">
                <span class="data-label">Estrato:</span>
                <input type="number" class="tamaño" placeholder="Estrato...">
            </div>
            <div class="data-field">
                <label>Habitaciones </label>
                <input type="number" class="tamaño" placeholder="Cant Habitaciones...">
            </div>
            <div class="data-field">
                <label>Baños </label>
                <input type="number" class="tamaño" placeholder="Cant Baños...">
            </div>
        </div>

    </div>

    <!-- casas con su descripcion y precio  -->
    <div class="puto">
        <div class="contenedor">
            <a href="../views/DescripcionInmueble.html"><img src="../static/img/casa1.jpg" alt="Descripción de la imagen" class="imagen"></a>
            <p>__________________________</p>
            <p class="texto">$200.000</p>
            <p class="texto">Estrato 4, cuenta con 3 Hanitaciones, 2 Baños, Terraza, Cocina, Sala, Comedor, 1 Aparta  Estudio</p>
            <p>__________________________</p>
            <p>ubicados en la esquina de don pepe </p>
        </div>
<!-- casa2 -->
        <div class="contenedor">
            <img src="../static/img/casa1.jpg" alt="Descripción de la imagen" class="imagen">
            <p>__________________________</p>
            <p class="texto">$200.000</p>
            <p class="texto">Estrato 4, cuenta con 3 Hanitaciones, 2 Baños, Terraza, Cocina, Sala, Comedor, 1 Aparta  Estudio</p>            <p>__________________________</p>
            <p>ubicados en la esquina de don pepe </p>
        </div>

<!-- casa3 -->
        <div class="contenedor">
            <img src="../static/img/casa2.jpg" alt="Descripción de la imagen" class="imagen">
            <p>__________________________</p>
            <p class="texto">$200.000</p>
            <p class="texto">Estrato 4, cuenta con 3 Hanitaciones, 2 Baños, Terraza, Cocina, Sala, Comedor, 1 Aparta  Estudio</p>            <p>__________________________</p>
            <p>ubicados en la esquina de don pepe </p>
        </div>
    </div>

    <!-- container2 -->
    <div class="putitos">
        <div class="contenedor">
            <img src="../static/img/casa4.jpg" alt="Descripción de la imagen" class="imagen">
            <p>__________________________</p>
            <p class="texto">$200.000</p>
            <p class="texto">Estrato 4, cuenta con 3 Hanitaciones, 2 Baños, Terraza, Cocina, Sala, Comedor, 1 Aparta  Estudio</p>            <p>__________________________</p>
            <p>ubicados en la esquina de don pepe </p>
        </div>

        <div class="contenedor">
            <img src="../static/img/casa5.jpg" alt="Descripción de la imagen" class="imagen">
            <p>__________________________</p>
            <p class="texto">$200.000</p>
            <p class="texto">Estrato 4, cuenta con 3 Hanitaciones, 2 Baños, Terraza, Cocina, Sala, Comedor, 1 Aparta  Estudio</p>            <p>__________________________</p>
            <p>ubicados en la esquina de don pepe </p>
        </div>

        <div class="contenedor">
            <img src="../static/img/casa6.jpg" alt="Descripción de la imagen" class="imagen">
            <p>__________________________</p>
            <p class="texto">$200.000</p>
            <p class="texto">Estrato 4, cuenta con 3 Hanitaciones, 2 Baños, Terraza, Cocina, Sala, Comedor, 1 Aparta  Estudio</p>            <p>__________________________</p>
            <p>ubicados en la esquina de don pepe </p>
        </div>

        
    </div>
    <!-- container3 -->
    <div class="putitoss">
        <div class="contenedor">
            <img src="../static/img/casa5.jpg" alt="Descripción de la imagen" class="imagen">
            <p>__________________________</p>
            <p class="texto">$200.000</p>
            <p class="texto">Estrato 4, cuenta con 3 Hanitaciones, 2 Baños, Terraza, Cocina, Sala, Comedor, 1 Aparta  Estudio</p>            <p>__________________________</p>
            <p>ubicados en la esquina de don pepe </p>
        </div>

        <div class="contenedor">
            <img src="../static/img/casa5.jpg" alt="Descripción de la imagen" class="imagen">
            <p>__________________________</p>
            <p class="texto">$200.000</p>
            <p class="texto">Estrato 4, cuenta con 3 Hanitaciones, 2 Baños, Terraza, Cocina, Sala, Comedor, 1 Aparta  Estudio</p>            <p>__________________________</p>
            <p>ubicados en la esquina de don pepe </p>
        </div>

        <div class="contenedor">
            <img src="../static/img/casa6.jpg" alt="Descripción de la imagen" class="imagen">
            <p>__________________________</p>
            <p class="texto">$200.000</p>
            <p class="texto">Estrato 4, cuenta con 3 Hanitaciones, 2 Baños, Terraza, Cocina, Sala, Comedor, 1 Aparta  Estudio</p>            <p>__________________________</p>
            <p>ubicados en la esquina de don pepe </p>
        </div>

        
    </div>
    </div>

   
</body>
</html>